In [1]:
import pandas as pd
import numpy as np
import string

In [2]:
#data set obtained from https://www.kaggle.com/bcruise/wordle-valid-words
df = pd.read_csv('valid_solutions.csv')

In [3]:
#assign each letter from each wordto separate column with word as index
for i in range(1,6):
    df[f'index {i}']= df['word'].apply(lambda word: list(word)[i-1])
df = df.set_index('word')

In [4]:
df.head()

      index 1 index 2 index 3 index 4 index 5
word
aback       a       b       a       c       k
abase       a       b       a       s       e
abate       a       b       a       t       e
abbey       a       b       b       e       y
abbot       a       b       b       o       t

In [5]:
#input for grey letters
def grey():
    
    grey_letters = list(input("Grey letters:").lower())
    global df
    
    for letter in grey_letters:
        df = df.replace(letter, np.nan).dropna(axis=0, how='any')

In [6]:
#input for green letters, if any
def green():
    
    green_letters = []
    green_pos = []
    global df
    
    got_green = True
    
    while True:
        any_green = ''
        while any_green != 'y' and any_green != 'n':
            any_green = input("Any (more) green letters?: y/n").lower()
        
        if any_green == 'y':
            green_letters.append(input('Green letter:'))
            green_pos.append(input('Position (1-5):'))
                    
            df = df[df[f'index {int(green_pos[0])}'] == green_letters[0]]
            
            green_letters.pop()
            green_pos.pop()
            continue
            
        else:
            got_green == False
            break

In [ ]:
#input for yellow letters, if any
def yellow():
    
    yellow_letters = []
    yellow_pos = []
    global df
    
    got_yellow = True
    
    
    while True:
        any_yellow = ''
        while any_yellow != 'y' and any_yellow != 'n':
            any_yellow = input("Any (more) yellow letters?: y/n").lower()
        
        if any_yellow == 'y':
            yellow_letters.append(input('Yellow letter:'))
            yellow_pos.append(input('Position (1-5):'))
            
            df = df[~df[f'index {int(yellow_pos[0])}'].isin(yellow_letters)]
            df = df[df.isin(yellow_letters).any(axis=1)]
            
            yellow_letters.pop()
            yellow_pos.pop()
            continue
            
        else:
            got_yellow == False
            break

In [ ]:
#function to take results of each round (grey, green, yellow letters), update database
#possible words, and return this together with the number of possibilities remaining
def play_round():
    grey()
    green()
    yellow()
    
    print(f'{len(df)} possible words remaining')
    return df